a,
a:focus,
a:hover {
    color: #ffffff;
}

body {
    font-family: helvetica, monospace;
    color: #ffffff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 75%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    padding: 10px;
    font-size: 1.2em;
}

ul {
    margin: auto;
    width: 75%;
    list-style: square inside;
}

li {
    margin-top: 1em;
    margin-bottom: 1em;
}

.intro {
    font-size: 1.5em;
}

.wrap{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}

.section {
    text-align: center;
}

.photo-gallery {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:75%;
}

.photo-gallery img {
    display: block;
}

.date {
    font-size: 1.5em;
}

.footer {
    padding-top: 3em;
    font-size: 10px;
}

.demo-images {
    display: inline;
    margin: 50px auto;
    width:75%;
}

.recipediaImg {
    width: 165px;
    height: 291px;
    margin: 5px;
}

.sokobanImg {
    width: 257.4px;
    height: 207px;
    margin: 5px;
}

.icon {
    height: 2em;
    width: 2em;
    vertical-align: middle;
}

/*====== FullPage ======*/
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: #ffffff;
}

/*====== Photo Swipe ======*/
figure {
    float: left;
    margin: 0;
}

.hover-light:hover {
-webkit-filter: brightness(125%);
}