a,
a:focus,
a:hover {
    color: #ffffff;
}

body {
    font-family: helvetica, monospace;
    color: #ffffff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 75%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    padding: 10px;
    font-size: 1.2em;
}

ul {
    margin: auto;
    width: 75%;
    list-style: square inside;
}

li {
    margin-top: 1em;
    margin-bottom: 1em;
}

.intro {
    font-size: 1.5em;
}

.wrap{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}

.section {
    text-align: center;
}

.photo-gallery {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:75%;
}

.photo-gallery img {
    display: block;
}

.date {
    font-size: 1.5em;
}

.footer {
    padding-top: 3em;
    font-size: 10px;
}

.demo-images {
    display: inline;
    margin: 50px auto;
    width:75%;
}

.recipediaImg {
    width: 165px;
    height: 291px;
    margin: 5px;
}

.sokobanImg {
    width: 257.4px;
    height: 207px;
    margin: 5px;
}

.icon {
    height: 2em;
    width: 2em;
    vertical-align: middle;
}

/*====== FullPage ======*/
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: #ffffff;
}

#section0 {
    background: -webkit-gradient(linear, top left, bottom left, from(#5A9367), to(#426B4B));
    background: -webkit-linear-gradient(#5A9367, #426B4B);
    background: linear-gradient(#5A9367,#426B4B);
}

#section1 {
    background: -webkit-gradient(linear, top left, bottom left, from(#F16622), to(#C6541C));
    background: -webkit-linear-gradient(#F16622, #C6541C);
    background: linear-gradient(#F16622,#C6541C);
}

#section2 {
    background: -webkit-gradient(linear, top left, bottom right, from(#63819F), to(#3C5C7E));
    background: -webkit-linear-gradient(#63819F, #3C5C7E);
    background: linear-gradient(#63819F,#3C5C7E);
}

#section3 {
    background: -webkit-gradient(linear, top left, bottom left, from(#414073), to(#36355F));
    background: -webkit-linear-gradient(#414073, #36355F);
    background: linear-gradient(#414073,#36355F);
}

#section4 {
    background: -webkit-gradient(linear, top left, bottom left, from(#5C6D69), to(#384D48));
    background: -webkit-linear-gradient(#5C6D69, #384D48);
    background: linear-gradient(#5C6D69,#384D48);
}

/*====== Photo Swipe ======*/
figure {
    float: left;
    margin: 0;
}

.hover-light:hover {
-webkit-filter: brightness(125%);
}