a,
a:focus,
a:hover {
    color: #ffffff;
}

body{
    font-family: helvetica, monospace;
    color: #ffffff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

h1{
    font-size: 4em;
}

p{
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.wrap{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}

.section {
    text-align: center;
}

/* Navigation Style */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: #ffffff;
}

/* Slider Arrows */
.fp-controlArrow {
    margin-left: 50px;
    margin-right: 50px;
}